
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDangky.cshtml";
}

<h2 style="text-align:center;color:gold">Địa Chỉ Shop</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7838.089140105929!2d106.72934563615915!3d10.80789841070318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175263d580e4583%3A0x6d25e042c3aed063!2zVGjhuqNvIMSQaeG7gW4sIFF14bqtbiAyLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1627023376312!5m2!1svi!2s"
        width="900" height="600" style="border:0;padding-left:250px" allowfullscreen="" loading="lazy"></iframe>
@*<div class="clear"></div>*@
@*<div class="one-third">
        <h2 class="no-margin-top">HEY BRO!!!!</h2>
        <p><h4>Nếu anh em nào còn băn khoăn hay đang muốn tìm cho mình những shop thời trang nam hập dẫn, đồ đẹp, chất lượng  thì đừng nên bỏ lỡ .</h4></p>
        <p><h4>Bởi ngoại hình đẹp không chỉ khiến bạn tự tin thoải mái hơn mỗi khi bước ra ngoài, đôi khi nó lại mang đến cho bạn những ấn tượng đẹp, cơ hội không ngờ từ ánh nhìn đầu tiên.</h4></p>
        <p><h4> Còn chờ gì nữa mà không khám phá ngay xem thiên đường mua sắm của các anh chàng được quan tâm nhất hiện nay là gì nhé.</h4></p>
    </div>*@
    
