
@{
    ViewBag.Title = "SptheoLoai";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Sản phẩm theo Loại</h2>


@foreach (var s in Model)
{
    <div class="Item">
        <a href="@Url.Action("ChiTiet", "Shop", new { id =s.MASP })">
            <h3 class="productname">@s.TENSP</h3>
            <img class="productimg" src="~/Content/img/@s.ANHBIA" width="250">
        </a>
        <p class="productprice">Gía Bán :@s.GIABAN VNĐ </p>
        <div class="datmua">
            <a class="productdetail" href="@Url.Action("ChiTiet", "Shop", new { id =s.MASP })"> Chi Tiết</a>
        </div>
        <a class="productbigimg" href=""> Ảnh Lớn</a>
    </div>
}