<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bai 1</title>
<script type="text/javasciprt">
    function Color_red(){
        document.getElementById('paraf1_1').Style.color="red";
    }
</script>
</head>
<body>
    <p id = 'text'> kich thuoc va mau </p>
    <div>
    <button id="jsstyle" onclick="js_style()">Style</button>
    <input type="button" value="red" onclick="Color_red()">
    <input type="button" value="black" onclick="Color_black()">
    <input type="button" value="30px" onclick="Font_size30()">
    <input type="button" value="60px" onclick="Font_size60()">
    </div>
</body>
</html>
