
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutDangky.cshtml";
}

<h2>Mua hàng thành công chúng tôi sẽ liên lạc với bạn trong thời gian sớm nhất</h2>
<p>@Html.ActionLink("Về Trang Chủ","index","Shop") </p>

